@charset "UTF-8";

.ballon-box{
  width: 500px;
  position: relative;
  border-radius: 30px;
  padding: 20px;
  margin:  auto;
  font-size: 16px;
  line-height: 16px;
  background: #fad296;
  border: solid 5px #8f5a0a;
}

.ballon-box::before,.ballon-box::after{
  content: '';
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
}

.ballon-box:before {
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}

.ballon-box::after{
  border-top: 20px solid #fad296;
  bottom: -38px;
}